language: node_js
git:
  submodules: false
cache:
  yarn: true
  npm: true
  directories:
    - node_modules
before_install:
  - npm i -g npm@6.11.2
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.17.3
  - export PATH="$HOME/.yarn/bin:$PATH"
install:
  - yarn
stages:
  - name: lint
  - name: tests
    install: true
  - name: release
    install: true
    if: branch = master AND NOT tag AND type NOT IN (pull_request)
jobs:
  include:
    - stage: lint
      script: yarn lint
    - stage: tests
      script: yarn test --coverage
      after_success: if [ "${TRAVIS_BRANCH}" = "master" ] && [ "${TRAVIS_TAG}" = "" ] && [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then yarn coverage; fi
    - stage: release
      script: yarn release
matrix:
  fast_finish: true
